{% extends "network/layout.html" %}

{% block body %}
<h2>{{ current_profile.username }}</h2>

<div class="container">
  <div class="row d-flex justify-content-center">
    <p><strong>{{ followers_count }}</strong>Followers</p>
    <p><strong>{{ following_count }}</strong>Following</p>
  </div>
</div>


{% if user.is_authenticated and user != current_profile %}
  <form action="{% url 'toggle_follow' current_profile.username %}" method="POST">
    {% csrf_token %}
    {% if is_following %}
      <button class="btn btn-outline-danger" type="submit">Unfollow</button>
    {% else %}
      <button class="btn btn-outline-primary" type="submit">Follow</button>
    {% endif %}
  </form>
  {% endif %}
<hr>

<h4>Posts</h4>

{% for post in posts_page %}
<div class="post-box mt-3 p-3 border rounded" id="post-{{ post.id }}">
  <p id="post-content-{{ post.id }}">{{ post.content }}</p>
  <small>{{ post.timestamp }}</small>
 
  {% if user.is_authenticated and user == post.user %}
		<button class="btn btn-sm btn-outline-secondary edit-btn" data-id="{{ post.id }}">📝</button>
	{% endif %}

	{% if user.is_authenticated %}
	<button class="btn-like" data-id="{{ post.id }}">
    <span class="heart-icon">
        {% if post.liked %}
            ❤️
        {% else %}
            🤍
        {% endif %}
    </span>
    <span class="like-count">{{ post.likes_count }}</span>
</button>
{% endif %}
</div>

{% empty %}
<p>No posts yet.</p>
{% endfor %}

 <nav aria-label="page navigation">
	<ul class="pagination d-flex justify-content-center">
		{% if posts_page.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{ posts_page.previous_page_number }}">Previous</a></li>
		{% endif %}
		{% if posts_page.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ posts_page.next_page_number }}">Next</a></li>
		{% endif %}
	</ul>
</nav>

{% endblock %}